/*----------------------------
Base Styles
----------------------------*/



body {
    color: black;
    font-family: Roboto;
}

.logo {
    font-family: "Josefin Sans";
     color: black;

}

.bg-colour{
    background-color: #ededed;
}

.bg-colour-lighter{
    background-color: #e6e7ff;
}

.nav-link {
    color: #26a65b;
}

hr {
    background-color: #e9dfec;
}

.nav-bar {

}

.learn-more {
    color: #26a65b;
}

.jhauk-j {
    width: 100px;
    height: 100px;
}

.skew-outer {
    padding-bottom: 14%;

}

.desk-nav {
    background-color: #ededed;
  
}

.footy {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
}

.tableHr {
    padding: 0;
    margin: 5px auto;
    width: 70px;
}

.root {
    background-color: rgba(47, 204, 112, .5)
}


/*----------------------------
Scale Page Styles
----------------------------*/

.scaleTable {
    margin: 0 auto;
    margin-top: 10px;
    border: solid 1px;
}

.scaleTable td {
    padding: 7px 30px;
    margin: 10px;
    border-top: 1px solid grey;
}

.scaleTable th {
    padding: 5px 30px;
    margin: 10px;
    border-bottom: 2px solid black;
}

tr:hover {
    background-color: #f5f5f5;
}

.scaleTable td:nth-child(2) {
    border-right: 2px solid black;
}

.scaleTable td:first-child {
    border-right: 1px dotted grey;
    font-size: .8em;
    font-style: italic;
}

.scaleTable td:last-child {
    border-left: 1px dotted grey;
    font-size: .8em;
    font-style: italic;
}




.bottomEdge {
    border-bottom: none;
}

.scaleTable th {
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
}

/*----------------------------
Dekstop Navbar
----------------------------*/

 change the background color 
.navbar{
    background-color: rgba(73, 3, 30, 0.2);
}



/*----------------------------
Buttons
----------------------------*/

.btn {

    border: 0 none;
}

.key-btn,
.maj-btn {
    font-family: helvetica;
    background-color: white;
    color: #834c85;
    font-weight: 600;
    box-shadow: 0px 2px 0px #b3b3b3;
    border: 0 none;

}

.cta-btn {
    background-color:  #2fcc70;
    border: 1px solid #f5d6e1;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #b3b3b3;
}



/*----------------------------
Bootstrap Default Btn Override
----------------------------*/

.btn-primary:focus, .btn-primary:active:focus, .btn.active:focus {
    outline: 0 none !important;
    border-color: brown;
    background:  #d90b5a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open, .dropdown-toggle.btn-primary {
    background:  #d90b5a;
    outline: 0 none !important;
    box-shadow: none;
    border: 0 none;
    
}

.bootstrap-select .btn:focus {
    outline: none !important;
}



.btn:focus,
.btn:active {
  box-shadow: none;
}


/*----------------------------
Skewed Div Bottoms
----------------------------*/

.skewed-edge{
  height: 390px;
  width: 100%;
  position: relative;
}

.skewed-edge:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-7deg);
}




.skewed-edge2{
  height: 120px;
  width: 100%;
  position: relative;
}

.skewed-edge2:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-7deg);
}

.soc-icon {
    height: 60px;
    
}

.img-container {
    min-width: 100%
}


/*----------------------------
Media Queries
----------------------------*/

@media (min-width: 576px) {
    
    .skewed-edge {
        height: 340px; {
            
        }
    }
    
   .skewed-edge:after,
   .skewed-edge2:after {
        transform: skewY(-4deg) !important;
    }

    .skew-outer {
      padding-bottom: 8%
    }

    hr {
        max-width: 80%;
        text-align: center;
    }
    
    .desc {
        text-align: center;
    }
    
    html {
         position: relative;
         min-height: 100%
     }
}


 @media (min-width: 992px) {
    
    .skewed-edge {
        height: 310px; 
            
        }
     
     .skewed-edge,
     .skewed-edge2 {
         max-width: 65%;
         margin: 30px auto;
         border-radius: 10px;
     }

    
    .skewed-edge:after,
    .skewed-edge2:after {
        border-radius: 10px
        
     }
     

    .skew-outer {
      padding-bottom: 10px;
    }


    hr {
        max-width: 80%;
        text-align: center;
    }
     
     .skewed-edge2 {
         height: 150px;
     }
     
     .jhauk-j {
         width: 80px;
         height: 80px;
     }   
     
     
}
@media (min-width: 1300px) {
    .skewed-edge,
     .skewed-edge2 {
         max-width: 50%;
         margin: 30px auto;
         border-radius: 10px;
     }

}

@media (min-width: 1500px) {
    .skewed-edge,
     .skewed-edge2 {
         max-width: 45%;
         margin: 30px auto;
         border-radius: 10px;
     }

}
